language: go
sudo: false

go:
  - "1.10"

go_import_path: gitlab.com/gitmate-micro/listen

before_script:
  - go get -v ./...

script:
  - go test -v -cover -tags test ./...

deploy:
- provider: script
  skip_cleanup: true
  script: curl -sL https://git.io/goreleaser | bash
  on:
    tags: true
    condition: $TRAVIS_OS_NAME = linux
